.pseudoClass{
    border-top: 1px solid var(--primaryColor);
    position: relative;
}

.pseudoClass:after{
    left: 0;
}
.pseudoClass:before{
    right: 0;
}
.pseudoClass:after,.pseudoClass:before{
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    background: var(--primaryColor);
}

.opacity{
    opacity: 0.5;
}