:root{
 --bgcolor:#F3F4F6;
    --color:#111827;
    --borderColor:#E2E3E5;
    --darkShadow:0 4px 4px rgba(0, 0, 0, 0.25);
    --primaryColor:#5D5FEF;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Albert Sans', sans-serif;
    font-family: 'Poppins', sans-serif;

}
.app{
    width: 695px;
    height: 640px;
    display: flex;
    flex-flow: column nowrap;
}
.wrapper{
    color: var(--color);
    display: flex;
    flex: 5;
    align-items: start;
    justify-content: space-evenly;
}
.section{
    width: 240px;
    height: 430px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.right{
    position: relative;
    left: -10px;
    height: 480px;
    border: 1px dashed var(--borderColor);
}
.rightFlex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flexStart{
    justify-content: start;
}

.left{
    position: relative;
    left: 10px;
    height: 445px;
}
.mode{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 75px;
}
.modeWrapper{
    display: flex;
    width: 40%;
    border: 1px solid var(--borderColor);
    height: 35px;
}
.modeWrapper div{
    flex: 1;
    border: 1px solid var(--borderColor);
    position: relative;
}
.activeTab{

}
.inActiveTab{
    background: var(--borderColor);
}
.modeWrapper div input{
    width: 100%;
    height: 100%;
    opacity: 0;
}
.modeWrapper div label{
    position: absolute;
    top: 0;
    left: 0;
    text-transform: capitalize;
    font-size: 14px;
    text-align: center;
    line-height: 45px;
    width: 85%;
    height: 100%;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}
.modeWrapper div label img{
    padding: 2px;
}
