*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    background: indianred;
    display: flex;
    height: 300px;
    width: 500px;
    align-items: center;
    justify-content: space-evenly;
}
.section{
    background: burlywood;
    width: 240px;
    height: 96%;
    margin: 4%;
}