.item {
    flex: 1;
}

.dataStringContent {
    background: var(--bgcolor);
    height: 55px;
    padding-right: 10px;
    text-align: end;
    border-radius: 4px;
    overflow: hidden;
}

.itemWrapper {
    padding: 4px;
    box-shadow: var(--darkShadow);
    position: relative;
}

.singleString {
    height: 50px;
    box-sizing: content-box;
    border-radius: 4px;
}

.dataStringEmpty {
    font-size: 36px;
    font-weight: 900;

}
.equal {
    background: var(--primaryColor);
    color: #FFF;
    margin: 4px;
    border-radius: 6px;
    box-shadow: var(--darkShadow);
    text-align: center;
    line-height: 56px;
}
.empty{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.empty:hover{
    background: rgba(173, 220, 238, 0.89);
}
.emptyF{
    color: var(--primaryColor);
    font-size: 14px;
}
.emptyS{
font-size: 12px;
    width: 55%
}