.item {
    flex: 1;
}

.dataStringContent {
    background: var(--bgcolor);
    height: 55px;
    padding-right: 10px;
    text-align: end;
    border-radius: 4px;
}

.itemWrapper {
    padding: 4px;
    box-shadow: var(--darkShadow);
    position: relative;
}
.pseudoClass{
    border-top: 1px solid var(--primaryColor);
    position: relative;
}

.pseudoClass:after{
    left: 0;
}
.pseudoClass:before{
    right: 0;
}
.pseudoClass:after,.pseudoClass:before{
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    background: var(--primaryColor);
}

.singleString {
    height: 50px;
    box-sizing: content-box;
    border-radius: 4px;
}

.dataStringEmpty {
    font-size: 36px;
    font-weight: 900;

}
.equal {
    background: var(--primaryColor);
    color: #FFF;
    margin: 4px;
    border-radius: 6px;
    box-shadow: var(--darkShadow);
    text-align: center;
    line-height: 56px;
}
.empty{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.emptyF{
    color: var(--primaryColor);
    font-size: 14px;
}
.emptyS{
font-size: 12px;
    width: 55%
}
.opacity{
    opacity: 0.5;
}